@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400;1,600&display=swap');

body {
    overflow-x: hidden;
}

.loginContainer {
    background-color: #355B3E;
    background-repeat: no-repeat;
    height: 969px;
    width: 100%;
    /* width: 100%; */
}

.loginBox {
    position: absolute;
    margin-left: 20rem;
    margin-right: 5rem; 
    margin-top: 5rem;   
    background-position: center;
    height: 714px;
    width: 1296px;
    background-color: #fff;
    border-radius: 24px;
}

.rightBackground img {
    margin-top: 15vh;
    margin-left: 13vh;
    
}

.rightBackground {
    background-color: pink;
    margin-left: 35rem;
    padding: 0 0 0 0;
    /* float: right; */
    height: 714px;
    width: 746px;
    border-radius: 0 24px 24px 0;
}

.loginForm img {
    position: absolute;
    margin-top: 0px;
    margin-left: -64px;
}

.loginForm {
    font-family: 'Inter', sans-serif;
    margin-top: -665px;
    margin-left: 124px;
    font-size: 32px;
    font-weight: bold;
}

.text-AI {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #355B3E;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 64px;
    width: 422px;

}

.text-Welcome {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 100%;
    font-weight: 400px;
    color: #58745E;
    margin-left: 64px;
    margin-top: 20px;
}

.loginWrapper {
    font-family: 'Inter',sans-serif;
    margin-top: 20px;
    margin-left: 64px;
}

.inputWrapper {
    margin-top: 10px;
}

.label {
    font-size: 16px;
    font-weight:bold;
    margin-bottom: 5px;
}

.input {
    font-family: "Inter",sans-serif;
    font-size: 16px;
    padding: 9px 16px;
    width: 422px;
    height: 56px;
    border-radius: 8px;
    border: 0.5pt solid #223A28;
}


.container {
    display: flex;
  }
  
  .remember-me {
    margin-top: 20px;
    margin-right: 180px;
  }

  .forgot-password {
    margin-top: 20px;
  }
  
  .remember-me label {
    display: inline-block;
    vertical-align: middle;
  }
  
  .remember-me input[type="checkbox"] {
    vertical-align: middle;
  }

  .buttons {
    display: flex;
    align-items: center;
  }
  
  .login-button,
  .signup-button {
    border-radius: 8px;
    width: 199px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #029664;
    color: #ffffff;
    border-color: rgb(0, 186, 233);
    margin-top: 30px;
  }

  .login-button {
    margin-right: 55px;
  }
  
.footer {
    display: flex;
    font-family: 'Inter', sans-serif;
    margin-top: 60px;
}

.text-OrLogin {
    font-size: 16px;
    color: #58745E;
}

.social {
    display: flex;
    flex-direction: row;
    margin-left: 50px ;
}

.facebook, .linkedIn, .google {
    margin-left: 10px;
    color: #58745E;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .loginContainer {
    overflow-x: hidden;
        height: 926px;
        width: 415.2px;
        /* width: 100%; */
    }
    .loginBox {
        position: absolute;
        margin: 0vh;
        margin-left: 0vh;    
        background-position:0%;
        height: 926px;
        width: 100%;
        background-color: #fff;
        border-radius: 0px;
        margin-top: 112px;
    }

    .rightBackground img {
        margin-top: -65px;
        margin-left: -50px;
        scale: 50%;
        
    }

    .rightBackground {
        background-color: pink;
        float: none;
        height: 220px;
        width: 100%;
        border-radius: 0 0px 0px 0;
    }

    .loginForm img {
        filter: brightness(500%);
    }

    .loginForm {
        margin-top: -300px;
        margin-left: 155px;
        color: #fff;
        width: 100%;
        
    }

    .text-AI {
        font-family: 'Inter',sans-serif;
        font-size: 20px;
        margin-top: 300px;
        margin-left: 20px;
        width: 380px;
        height: 60;
    }

    .text-Welcome {
        font-family: 'Inter', sans-serif;
        width: 380px;
        font-weight: 400px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .loginWrapper {
        margin-top: 20px;
        margin-left: 20px;
    }
    .label {
        font-weight:700;
        margin-bottom: 5px;
    }
    
    .input {
        padding: 4px 8px;
        width: 345px;
        height: 40px;
        border-radius: 8px;
        border: 0.5pt solid #223A28;
    }

    .remember-me {
        margin-top: 20px;
        margin-right: 100px;
      }

    .login-button {
        margin-right: 60px;
        width: 150px;
    }

    .signup-button {
        width: 150px;
        background-color: #fff;
        color: #000000;
    }

    .footer {
        font-family: 'Inter', sans-serif;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }

    .text-OrLogin {
        margin-top: 20px;
        margin-left:35%;
    }

    .social {
        display: flex;
        flex-direction: row;
        margin-left: 25px;
        margin-top: 20px;
    }
    
    .facebook, .linkedIn, .google {
        margin-top: 0px;
        margin-left: 30px;
    }
}